/*
//Анимация при наведении на кнопку видео >>
*/
/*
//Анимация при наведении на кнопку видео <<
*/
/*
//Анимация блоков при нажатии ссылки О НАС >>
*/
/*
//Анимация блоков при нажатии ссылки О НАС <<
*/
/*
//Анимации таблицы >>
*/
/*
//Анимации таблицы <<
*/
/*
//Анимация перехода на блок workers-block >>
*/
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-bolditalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-demibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-demi-bolditalic.ttf") format("ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-extralight.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-extra-lightitalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-heavy.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-heavyitalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-lightitalic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-mediumitalic.ttf") format("ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald-regularitalic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}
html {
  margin: 0;
  padding: 0;
}
body {
  width: 1920px;
  height: 100vh;
  margin: 0 auto;
  font-family: Oswald, Merriweather, "PT Sans", Arial, "sans-serif";
  background-color: white;
  background-image: url("../img/MaskGroup.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  overflow: visible;
}
body.background--gradient {
  background-image: url("../img/MaskGroup.png");
  position: relative;
  -webkit-animation-name: block-hide;
          animation-name: block-hide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-image: radial-gradient(circle at 99vw 70vh, white, #dcdcdc);
}
@-webkit-keyframes block-hide {
  0% {
    background-position-y: 0;
    background-image: url("../img/MaskGroup.png");
  }
  100% {
    background-position-y: -1080px;
    background-image: url("../img/MaskGroup.png");
  }
}
@keyframes block-hide {
  0% {
    background-position-y: 0;
    background-image: url("../img/MaskGroup.png");
  }
  100% {
    background-position-y: -1080px;
    background-image: url("../img/MaskGroup.png");
  }
}
img {
  width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  float: left;
  width: 250px;
  height: 100vh;
  background: rgba(7, 5, 0, 0.3);
  padding: 0;
  margin: 0;
}
.page-header--glass {
  background: rgba(7, 5, 0, 0.7);
}
.page-header--transparent {
  background: transparent;
}
.page-header--transparent .page-header__logo path {
  fill: black;
}
.page-header-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  height: 90vh;
  padding: 0;
  margin: 0;
  padding: 56px 0;
}
.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
}
.main-nav__list-item {
  margin-bottom: 32px;
}
.main-nav__list-item a {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.4;
}
.page-header--glass .main-nav__list-item a {
  color: #FFFFFF;
  opacity: 1;
}
.page-header--transparent .main-nav__list-item a {
  color: #070500;
  opacity: 1;
}
.page-header__contacts-button {
  background: transparent;
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: lowercase;
  padding: 15px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 25px;
}
.page-header--transparent .page-header__contacts-button {
  color: #070500;
  border-color: #070500;
}
.page-header__contacts-social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.page-header__contacts-social-item a {
  position: relative;
  display: block;
  padding-bottom: 5px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: lowercase;
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.4;
}
.page-header__contacts-social-item a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}
.page-header--transparent .page-header__contacts-social-item a {
  color: #070500;
  opacity: 0.4;
}
.page-header--transparent .page-header__contacts-social-item a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 1px;
  background-color: rgba(7, 5, 0, 0.4);
}
/*.page-main{
	background-color: white;
	background-image: url("../img/MaskGroup.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.background--gradient {
	& .page-main{
		background: transparent;
	}
}*/
.page-main__header {
  position: absolute;
  width: 480px;
  height: 32px;
  left: 480px;
  top: 45px;
  z-index: 10;
}
.page-main__header-title {
  display: none;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-transform: lowercase;
  color: #FFFFFF;
  opacity: 0.7;
}
.page-main__header-title--glass {
  display: block;
}
.page-main__header-title--workers {
  display: block;
  color: #070500;
}
.glass-block--closed {
  position: relative;
  -webkit-animation-name: block-hide;
          animation-name: block-hide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: none;
}
@keyframes block-hide {
  0% {
    background-position-y: 0;
    background-image: url("../img/MaskGroup.png");
  }
  100% {
    background-position-y: -1080px;
    background-image: url("../img/MaskGroup.png");
  }
}
.glass-block--opened {
  position: relative;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  vertical-align: middle;
  height: 100vh;
  padding-left: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
.glass-block__rewiews {
  width: 670px;
  padding: 0;
}
.glass-block__rewiews .rewiews-quote-title {
  position: relative;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  width: 700px;
  color: #FFFFFF;
}
.glass-block__rewiews .rewiews-quote-title::before {
  content: "«";
  position: absolute;
  top: -2;
  left: -35px;
  width: 15px;
  height: 15px;
}
.glass-block__rewiews .rewiews-quote-text {
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: right;
  text-transform: capitalize;
  color: #FFFFFF;
}
.glass-block__rewiews-quote {
  margin-bottom: 160px;
  position: relative;
  -webkit-animation-name: glass-block--open;
          animation-name: glass-block--open;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
@-webkit-keyframes glass-block--open {
  0% {
    opacity: 0;
    bottom: -50%;
    left: 0;
  }
  100% {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}
@keyframes glass-block--open {
  0% {
    opacity: 0;
    bottom: -50%;
    left: 0;
  }
  100% {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}
.glass-block__rewiews-video {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-animation-name: glass-block--open;
          animation-name: glass-block--open;
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
@keyframes glass-block--open {
  0% {
    opacity: 0;
    bottom: -50%;
    left: 0;
  }
  100% {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}
.glass-block__rewiews-video .rewiews__video-icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 50%;
}
.glass-block__rewiews-video .rewiews__video-icon-wrapper:hover,
.glass-block__rewiews-video .rewiews__video-icon-wrapper:focus {
  -webkit-animation-name: videohover-color;
          animation-name: videohover-color;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes videohover-color {
  0% {
    border-color: rgba(255, 255, 255, 0.3);
    width: 120px;
    height: 120px;
    top: 0;
    left: 0;
  }
  100% {
    border-color: rgba(255, 255, 255, 0.8);
    width: 150px;
    height: 150px;
    top: -15px;
    left: -15px;
  }
}
@keyframes videohover-color {
  0% {
    border-color: rgba(255, 255, 255, 0.3);
    width: 120px;
    height: 120px;
    top: 0;
    left: 0;
  }
  100% {
    border-color: rgba(255, 255, 255, 0.8);
    width: 150px;
    height: 150px;
    top: -15px;
    left: -15px;
  }
}
.glass-block__rewiews-video .rewiews__video-icon-wrapper:hover .rewiews__video-icon,
.glass-block__rewiews-video .rewiews__video-icon-wrapper:focus .rewiews__video-icon {
  -webkit-animation-name: videohover-padding;
          animation-name: videohover-padding;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes videohover-padding {
  0% {
    top: 50px;
    left: 50px;
  }
  100% {
    top: 65px;
    left: 65px;
  }
}
@keyframes videohover-padding {
  0% {
    top: 50px;
    left: 50px;
  }
  100% {
    top: 65px;
    left: 65px;
  }
}
.glass-block__rewiews-video .rewiews__video-icon {
  position: absolute;
  top: 50px;
  left: 50px;
}
.glass-block__rewiews-video .rewiews__video-item {
  position: absolute;
  top: 25px;
  left: 15%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
}
.glass-block__advantages {
  width: 480px;
  position: relative;
  -webkit-animation-name: glass-block--open;
          animation-name: glass-block--open;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.glass-block__advantages .advantages-item {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
@keyframes glass-block--open {
  0% {
    opacity: 0;
    bottom: -50%;
    left: 0;
  }
  100% {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}
.workers-block--closed,
.worker__slider {
  display: none;
}
.worker__slider--active {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  background: transparent;
  position: relative;
  -webkit-animation-name: text-show;
          animation-name: text-show;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes text-show {
  0% {
    bottom: -80%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes text-show {
  0% {
    bottom: -80%;
  }
  100% {
    bottom: 0;
  }
}
.worker__slider-image-wrap img {
  position: relative;
  -webkit-animation-name: show-foto;
          animation-name: show-foto;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@-webkit-keyframes show-foto {
  0% {
    width: 150%;
    top: -35%;
    left: -25%;
  }
  100% {
    width: 100%;
    top: 0%;
    left: 0%;
  }
}
@keyframes show-foto {
  0% {
    width: 150%;
    top: -35%;
    left: -25%;
  }
  100% {
    width: 100%;
    top: 0%;
    left: 0%;
  }
}
.worker__slider--active .worker__slider--active--show .worker__slider-image-wrap img {
  -webkit-animation-name: show-foto-2;
          animation-name: show-foto-2;
  position: relative;
  -webkit-animation-name: shadow-left;
          animation-name: shadow-left;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@-webkit-keyframes show-foto-2 {
  0% {
    width: 30%;
    bottom: -35%;
    right: -25%;
  }
  100% {
    width: 100%;
    top: 0%;
    left: 0%;
  }
}
@keyframes show-foto-2 {
  0% {
    width: 30%;
    bottom: -35%;
    right: -25%;
  }
  100% {
    width: 100%;
    top: 0%;
    left: 0%;
  }
}
@-webkit-keyframes shadow-left {
  0% {
    text-shadow: 0px 0 0 rgba(0, 0, 0, 0.2);
  }
  50% {
    text-shadow: 0px 0 0 rgba(0, 0, 0, 0.15);
  }
  100% {
    text-shadow: -350px 0 0 rgba(0, 0, 0, 0.1);
  }
}
@keyframes shadow-left {
  0% {
    text-shadow: 0px 0 0 rgba(0, 0, 0, 0.2);
  }
  50% {
    text-shadow: 0px 0 0 rgba(0, 0, 0, 0.15);
  }
  100% {
    text-shadow: -350px 0 0 rgba(0, 0, 0, 0.1);
  }
}
.worker__slider-prewiew {
  margin-left: 240px;
  width: 265px;
}
.worker__slider-prewiew h3 {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: #070500;
  text-shadow: 0px 0 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 170px;
}
.worker__slider-prewiew h3.shadow-anim {
  -webkit-animation-name: show-foto-2;
          animation-name: show-foto-2;
  position: relative;
  -webkit-animation-name: shadow-left;
          animation-name: shadow-left;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@keyframes show-foto-2 {
  0% {
    width: 30%;
    bottom: -35%;
    right: -25%;
  }
  100% {
    width: 100%;
    top: 0%;
    left: 0%;
  }
}
@keyframes shadow-left {
  0% {
    text-shadow: 0px 0 0 rgba(0, 0, 0, 0.2);
  }
  50% {
    text-shadow: 0px 0 0 rgba(0, 0, 0, 0.15);
  }
  100% {
    text-shadow: -350px 0 0 rgba(0, 0, 0, 0.1);
  }
}
.worker__slider-prewiew p {
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #070500;
  text-shadow: 0px 0 0 rgba(0, 0, 0, 0.2);
}
.worker__slider-prewiew p.shadow-anim {
  -webkit-animation-name: show-foto-2;
          animation-name: show-foto-2;
  position: relative;
  -webkit-animation-name: shadow-left;
          animation-name: shadow-left;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@keyframes show-foto-2 {
  0% {
    width: 30%;
    bottom: -35%;
    right: -25%;
  }
  100% {
    width: 100%;
    top: 0%;
    left: 0%;
  }
}
@keyframes shadow-left {
  0% {
    text-shadow: 0px 0 0 rgba(0, 0, 0, 0.2);
  }
  50% {
    text-shadow: 0px 0 0 rgba(0, 0, 0, 0.15);
  }
  100% {
    text-shadow: -350px 0 0 rgba(0, 0, 0, 0.1);
  }
}
.worker__slider-text-wrap {
  width: 480px;
}
.worker__slider-text-wrap p {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #070500;
}
.worker__slider-text-wrap p.shadow-anim {
  -webkit-animation-name: show-foto-2;
          animation-name: show-foto-2;
  position: relative;
  -webkit-animation-name: shadow-left;
          animation-name: shadow-left;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@keyframes show-foto-2 {
  0% {
    width: 30%;
    bottom: -35%;
    right: -25%;
  }
  100% {
    width: 100%;
    top: 0%;
    left: 0%;
  }
}
@keyframes shadow-left {
  0% {
    text-shadow: 0px 0 0 rgba(0, 0, 0, 0.2);
  }
  50% {
    text-shadow: 0px 0 0 rgba(0, 0, 0, 0.15);
  }
  100% {
    text-shadow: -350px 0 0 rgba(0, 0, 0, 0.1);
  }
}
/* Переключатели на слайдеры */
.workers-block--toggles {
  position: absolute;
  bottom: -40px;
  right: -50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  width: 704px;
  height: 360px;
}
.workers-block__button-wrapper {
  display: none;
}
.workers-block__button-wrapper--active {
  display: block;
  width: 30%;
  height: 90%;
}
.workers-block__button-wrapper--active:nth-child(2) {
  position: relative;
  top: -10px;
}
.workers-block__button-wrapper button {
  background: transparent;
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: lowercase;
  padding: 15px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: -40px;
  margin-left: -10px;
}
.workers-block__button-wrapper--active {
  position: relative;
  -webkit-animation-name: show-blocks;
          animation-name: show-blocks;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@-webkit-keyframes show-blocks {
  0% {
    bottom: 0;
    right: -100px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    right: 0px;
    opacity: 1;
  }
}
@keyframes show-blocks {
  0% {
    bottom: 0;
    right: -100px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    right: 0px;
    opacity: 1;
  }
}
.clear {
  clear: both;
}
.page-footer {
  display: none;
}
.page-footer--opened {
  position: fixed;
  bottom: -3vh;
  left: 0;
  height: 10vh;
  width: 100vw;
  margin-left: 250px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  background: transparent;
  z-index: 10;
}
.page-footer__scroll-btn {
  background: transparent;
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: lowercase;
  padding: 15px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}
.page-footer__scroll-btn--black {
  color: #070500;
}
.page-footer__table {
  position: relative;
  left: 0;
  bottom: 3vh;
  border-collapse: collapse;
  color: #FFFFFF;
}
.page-footer__table--closed {
  visibility: hidden;
}
.page-footer__table th {
  position: relative;
  font-family: Merriweather;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  -webkit-animation-name: table-roll;
          animation-name: table-roll;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
@-webkit-keyframes table-roll {
  0% {
    bottom: -20px;
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 0;
  }
}
@keyframes table-roll {
  0% {
    bottom: -20px;
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 0;
  }
}
.page-footer__table th::after {
  content: "";
  position: absolute;
  top: 55px;
  left: 65px;
  width: 82px;
  height: 1px;
  background-color: white;
  -webkit-animation-name: table-after;
          animation-name: table-after;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
@-webkit-keyframes table-after {
  from {
    width: 1px;
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  to {
    width: 82px;
  }
}
@keyframes table-after {
  from {
    width: 1px;
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  to {
    width: 82px;
  }
}
.page-footer__table td {
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-transform: lowercase;
  color: #FFFFFF;
  opacity: 0.7;
}
.page-footer__table th,
.page-footer__table td {
  padding-bottom: 30px;
  padding-left: 50px;
}
/*Если открыта панель слайдеров О НАС*/
.background--gradient .page-footer__table {
  display: none;
}
.video-popup {
  display: none;
}
