/*
//Анимация при наведении на кнопку видео >>
*/
@keyframes videohover-color{
	0%{
		border-color: rgba(255, 255, 255, 0.3);
		width: 120px;
		height: 120px;
		top: 0;
		left: 0;
	}
	100%{
		border-color: rgba(255, 255, 255, 0.8);
		width: 150px;
		height: 150px;
		top: -15px;
		left: -15px;
	}
}
@keyframes videohover-padding{
	0%{
		top: 50px;
		left: 50px;
	}
	100%{
		top: 65px;
		left: 65px;
	}
}
/*
//Анимация при наведении на кнопку видео <<
*/