.page-main{
	background-color: white;
	background-image: url("../img/MaskGroup.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.background--gradient {
	& .page-main{
		background: transparent;
	}
}
.page-main__header{
	position: absolute;
	width: 480px;
	height: 32px;
	left: 480px;
	top: 45px;

	& .page-main__header-title{
		font-family: Oswald;
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 32px;
	
		text-transform: lowercase;
	
		color: #FFFFFF;
		opacity: 0.7;
	}
}