.page-header{
	float: left;
	width: 240px;
	height: 1016px;
	//height: 100vh;

	background: rgba(7, 5, 0, 0.3);

	padding: 0;
	margin: 0;

	&--glass{
		background: rgba(7, 5, 0, 0.7);
	}

	&--transparent{
		background: transparent;
		& .page-header__logo path{
			fill: black;
		}
	}
}

.page-header-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 920px;
	//height: 90vh;

	padding: 0;
	margin: 0;
	padding: 56px 0;
}

.main-nav__list{
	.nolist();

	font-family: Oswald;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;

	text-transform: uppercase;
}

.main-nav__list-item{
	margin-bottom: 32px;

	& a{
		font-family: Oswald;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		
		text-transform: uppercase;
		text-decoration: none;
		
		color: #FFFFFF;
		opacity: 0.4;
	}
}
.page-header--glass{
	& .main-nav__list-item a{
		color: #FFFFFF;
		opacity: 1;
	}
}
.page-header--transparent{
	& .main-nav__list-item a{
		color: #070500;
		opacity: 1;
	}
}
.page-header__contacts-button{
	.buttons();
	margin-bottom: 20px;
}
.page-header--transparent{
	& .page-header__contacts-button {
		color: #070500;
		border-color: #070500;
	}
}

.page-header__contacts-social-list{
	.nolist();
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.page-header__contacts-social-item{

	& a{
		position: relative;
		display: block;

		padding-bottom: 5px;

		font-family: Oswald;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		
		text-transform: lowercase;
		text-decoration: none;
		
		color: #FFFFFF;
		opacity: 0.4;

		cursor: pointer;

		.link-text-decoration(rgba(255, 255, 255, 0.4));
	}
}

.page-header--transparent{
	& .page-header__contacts-social-item a{
		color: #070500;
		opacity: 0.4;
		
		.link-text-decoration(rgba(7, 5, 0, 0.4));
	}
}