.workers-block--closed,
.worker__slider{
	display: none;
}

.worker__slider--active{
	display: flex;
	flex-direction: row;
	align-items: center;

	background: transparent;
}

.worker__slider-prewiew{
	margin-left: 240px;
	width: 265px;

	& h3{
		font-family: Oswald;
		font-style: normal;
		font-weight: normal;
		font-size: 56px;
		line-height: 64px;

		color: #070500;

		margin-bottom: 170px;
	}

	& p{
		font-family: Oswald;
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 32px;

		color: #070500;
	}
}
.worker__slider-text-wrap{
	width: 480px;

	& p{
		font-family: Merriweather;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;

		color: #070500;
	}
}

/* Переключатели на слайдеры */
.workers-block--toggles{
	position: absolute;
	bottom: -60px;
	right: -50px;

	display: flex;
	flex-direction: row;
	justify-content: center;

	width:704px;
	height:360px;
}
.workers-block__button-wrapper{
	display: none;

	&--active{
		display: block;

		width: 30%;
		height: 90%;

		&:nth-child(2){
			position: relative;
			top: -10px;
		}
	}

	& button {
		.buttons();
		margin-right:-40px;
		margin-left:-10px;
	}
}